@import "tailwindcss";


html {
  scrollbar-gutter: stable;
  /* reserve space */
  scrollbar-width: thin;

  scrollbar-color: rgba(255, 255, 255, .15) transparent;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Chrome/Safari/Edge */
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .15);
  border-radius: 9999px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .28);
}

body {
  overflow-y: scroll;
}





@theme {
  --color-primaryColor: #1e293b;
  --color-secondaryColor: #2c3a54;
  --color-backgroundColor: #0f172a;
  --color-cardColor: #1c2331;

  /* Dark card background  */
  --color-darkCard: #0f1419;

  /* App background */
  --color-appBg: #111827;

  /* Accent colors  */
  --color-blue: #3b82f6;
  --color-blueHover: #2563eb;
  --color-green: #22c55e;
  --color-greenHover: #16a34a;
  --color-red: #ef4444;
  --color-redHover: #dc2626;
  --color-purple: #a855f7;
  --color-yellow: #eab308;

  /* Text colors */
  --color-textPrimary: #ffffff;
  --color-textSecondary: #9ca3af;
  --color-textMuted: #6b7280;
  --color-textDisabled: #4b5563;

  /* Border colors */
  --color-borderDefault: #374151;
  --color-borderHover: #3b82f6;


}